body {
  background-color: #fff1f5;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.center {
  text-align: center;
}

img {
  width: 30%;
}

p {
  text-align: left;
}
