body {
  background-color: #fff1f5;
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: 5em;
  margin-right: 5em;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 10px;
}

/*responsive design for mobile device*/
@media (min-width: 100px) and (max-width: 820px) {
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
  }

  body {
    margin-left: 2.5em;
    margin-right: 2.5em;
  }

}

.center {
  text-align: center;
}

img {
  width: 30%;
}

p {
  text-align: left;
}

footer {
  color: #808080;
  text-align: center;
  padding-top: 1.5em;

}
