body {
  background-color: #fff1f5;
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: 5em;
  margin-right: 5em;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.center {
  text-align: center;
}

img {
  width: 30%;
}

p {
  text-align: left;
}
